@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 20px;
  left: 0px;
  top: 0px;
  background: #109e97;
  border-radius: 0px;
}

#header {
  position: absolute;
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  font-size: 49px;
  line-height: 50px;
  color: #ffffff;
  display: block;
  text-align: center;
  text-decoration: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.firstSection {
  position: relative;
  width: 1100px;
  height: 450px;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  border-radius: 0px;
}

.bookBackground {
  width: 40%;
  height: 100%;
  left: 370px;
  top: 234px;
  background: url(.jpg);
  border-radius: 0px;
  background-image: url(/images/Inkognito.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.bookHeader {
  position: absolute;
  width: 65%;
  height: 71px;
  right: 0;
  top: 0;
  border-radius: 0px;
}

.bookName {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 26px;
}

.currentPrice {
  position: absolute;
  width: 127px;
  height: 25px;
  left: 0;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  color: #008000;
}

.lastPrice {
  position: absolute;
  width: 127px;
  height: 25px;
  left: 13%;
  bottom: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #ff0000;
  text-decoration: line-through;
}

.aboutBook {
  box-sizing: border-box;
  position: absolute;
  width: 65%;
  height: 266px;
  right: 0;
  bottom: 0;
  border-radius: 0px;
}

.shortHistory {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.historyContent {
  padding-top: 1vw;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #000000;
}

.buttonAddBasket {
  position: absolute;
  width: 149px;
  height: 48px;
  left: 0;
  bottom: 0;
  background: #109e97;
  border-radius: 4px;
}

.addBasket {
  position: absolute;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
  width: 100%;
  height: 100%;
  font-family: "Roboto";
  padding: 12px;
  padding-left: 17px;
}
.secondSection {
  position: relative;
  width: 1100px;
  height: 200px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 110px;
  border-radius: 0px;
}

.tableHeader {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

#specTable th,
td {
  width: 1100px;
  border-bottom: 1px solid;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}

/* THIRD SECTION  */

.thirdSection {
  position: relative;
  width: 1100px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  border-radius: 0px;
  display: inline-block;
}

.BackgroundRight,
.BackgroundRight img {
  position: absolute;
  width: 19vw;
  left: 0;
  top: 1vw;
  border-radius: 0px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

#commentBox {
  width: 35vw;
  /* height: auto; */
  max-height: 35vw;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.BackgroundLeft,
.BackgroundLeft img {
  position: absolute;
  width: 19vw;
  right: 0;
  top: 1vw;
  border-radius: 0px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.commentHeader {
  padding: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.labelDiv {
  padding: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}

.labelDiv input {
  background: #ffffff;
  border: 2px solid #767676;
  border-radius: 0px;
}

.sherhiniz {
  display: block;
}

.send {
  width: 91px;
  height: 48px;
  background: #109e97;
  border: 1px solid #109e97;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.socialMedia {
  position: fixed;
  right: 0%;
  top: 10vw;
}
.socialMedia li {
  background: #109e97;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  list-style: none;
}
.socialMedia li:last-child {
  background: #808080;
  margin-top: 30px;
}

footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #109e97;
}

footer {
  position: relative;
  height: 100px;
  width: 100%;
  background-color: #109e97;
}
#footer {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
